@import "tailwindcss";
@import "styles/fonts.css";
@import "styles/variable.css";

@layer base {

    * {
        box-sizing: border-box;
    }

    body {
        font-family: var(--font-haffer-md);
        font-size: var(--font-size-base);
        line-height: 1, 4875rem;
        letter-spacing: normal;
        color: var(--color-text);
        background-color: var(--color-paper);
    }

    .hero:before {
        display: block;
        z-index: -2;
        background-image:
            linear-gradient(#d2d5cd 1px, transparent 1px),
            linear-gradient(90deg, #d2d5cd 1px, transparent 1px);
        content: "";
        opacity: 0.27;
        background-size: 64px 64px;
        position: absolute;
        inset: 0;
        -webkit-mask-image: linear-gradient(#000c, #0000 86%);
        mask-image: linear-gradient(#000c, #0000 86%);
    }

    .hero:after {
        z-index: -1;
        background:
            linear-gradient(
                90deg,
                transparent calc(50% - 0.5px),
                var(--line-strong) 50%,
                transparent calc(50% + 0.5px)
            ),
            linear-gradient(
                0deg,
                transparent calc(55% - 0.5px),
                var(--line-strong) 55%,
                transparent calc(55% + 0.5px)
            );
        content: "";
        opacity: 0.34;
        position: absolute;
        inset: 0;
        -webkit-mask-image: radial-gradient(
            44% 48% at 50% 46%,
            #000 0%,
            #0000 76%
        );
        mask-image: radial-gradient(44% 48% at 50% 46%, #000 0%, #0000 76%);
    }

    .hero-glow {
        z-index: -2;
        filter: blur(48px);
        background:
            radial-gradient(circle at 37% 42%, #caff3d17, #0000 38%),
            radial-gradient(circle at 64% 58%, #caff3d0e, #0000 42%);
        width: min(82vw, 900px);
        height: 470px;
        position: absolute;
        top: 9%;
        left: 50%;
        transform: translate(-50%);
    }

    .hero-accent {
        text-shadow: 0 0 50px #caff3d1f!important;
    }

    .eyebrow {
        color: #545950;
        letter-spacing: .09em;
        margin: 0 0 34px;
    }

    .status-dot {
        background: #a89005;
        width: 7px;
        height: 7px;
        box-shadow: 0 0 0 5px #734b002e, 0 0 22px #a89005;
        border-radius: 50%;
    }

    .image-mask {
        mask: radial-gradient(100% 95% at 55% 15%, rgb(0, 0, 0) 44.7477%, rgba(0, 0, 0, 0) 100%);
    }

    @media (max-width: 596px) {
        .hero {
            padding-top: 4rem;
        }
    }
}
