@import "tailwindcss";
@import "styles/fonts.css";
@import "styles/variable.css";

@layer base {
    * {
        box-sizing: border-box;
    }

    body {
        font-family: var(--font-haffer-md);
        font-size: var(--font-size-base);
        line-height: 1,4875rem;
        letter-spacing: normal;
        color: var(--color-text);
        background-color: var(--color-paper);
    }
}
